<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<style>
    h1 {
        color: purple;
    }
</style>

<body>
    <table border=1>
        <thead>
            <h1> Users Information</h1>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td> {{ user.first_name}}</td>
                <td> {{ user.last_name}}</td>
                <td> {{ user.email_address}}</td>
                <td> {{ user.created_at}}</td>
                <td>
                    <a href="/show/{{user.id}}">Show</a>
                    <a href="/edit/{{user.id}}">Edit</a>
                    <a href="/delete/{{user.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <a href="/new">Add a New User</a>
</body>

</html>