<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'amadon_app/style.css' %}" />
</head>
<body>
    <h2>Thank you for your purchase!</h2>
    <p>You purchased {{ request.session.purchase.quantity }} {{ request.session.purchase.product }}</p>
    <p>Your total is ${{ request.session.purchase.total }}</p>
</body>
</html>
