<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<style>
    h1 {
        color: blueviolet;
        text-align: center;
    }

    h3 {
        color: blueviolet;
        text-align: center;
    }
    a{
        text-align: center;
        margin-left: 400px;
    }
</style>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Success! Welcome {{user.first_name}}!</h1>
    <h3>You are successfully registered(and logged in)!</h3>
    <a href="/log_out">Log Out </a>
</body>

</html>