<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja's</title>
</head>
<body>
    <h1>Information About Ninja's</h1>
    <p>Shrouded in mystery, ninjas have almost become more of an idea than 
        an actual warrior. Hundreds of years ago though, in feudal Japan, 
        ninjas were very active and very real. Not always good guys, not always bad guys, 
        they were somewhat of a mercenary group carrying out assassinations 
        and espionage for the highest bidder. Today, much of what we know about them is in fact little more than legend. If you’re not up to date, however, 
        allow us to enlighten you. Here are 25 things you didn’t know about ninjas.</p>
</body>
</html>