<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Reviews</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book_app/style.css' %}" />
</head>
<body>
        <span><a href="/">Home</a></span>
        <span> | </span>
        <span><a href="/book/book_add">Add Book and Review</a></span>
        <span> | </span>
        <span><a href="/log_out">Logout</a></span>
        <p>Name:</p>
        <p>Email:</p>
        <p>Total Reviews:</p>
        <p>Posted Reviews on the following books:</p>
</body>
</html>