<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a course</title>
</head>
<body>
    <h1> Are you sure you want to delete the following course? </h1>
    <p>Name: {{course.name}}</p>
    <p>Decription:{{course.description}}</p>
    <span><a href="/"><button>No</button></a></span>
    <span><a href="/delete/{{course.id}}"><button>Yes, I want to delete this</button></a></span>

</body>
</html>