<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Current Time!</title>
</head>
<style>
    body {
        text-align: center;
    }
    p{
        color:peru;
    }
    h2{
        color: rgb(165, 92, 18);
    }

</style>

<body>
    <h2>CURRENT DATE AND TIME</h2>
    <p class="line"> {{current_time}}</p>
    <p class="line"> {{somevalue}}</p>

</body>

</html>