<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1> Welcome!!!</h1>
    <h3>Random Word: (attempt # {{ request.session.counter }})</h3>
    <h2>Your random word is: {{ request.session.random_word }}</h2>
    <form action="/create" method="post">
        {% csrf_token %}
        <input type="submit" value="Generate">
    </form>

</body>

</html>